<header>
    <nav class="heder-nav">
        <a href="/" class="header-title">Mybrary</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">New Author</a></li>
            <li class="header-link"><a href="/books">Books</a></li>
            <li class="header-link"><a href="/books/new">New Book</a></li>
        </ul>
    </nav>
</header>