@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/fonts.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root{
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: var(--color-background);
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container{
    margin: 0 2rem;
}
.page-header{
    font-size: 2rem;
    font-weight: 500;
}
.error-message{
    color: var(--color-btn-danger-background);
}
.book-details{
    display: flex;
}
.book-details-label{
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}
.book-details-grid{
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}
.book-details-btn-grid{
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
        "edit delete"
        "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
}
.book-details-author-button{
    grid-area: author;
    justify-self: stretch;
}